<!-- hello.handlebars -->
<h1>RESULTS:</h1>

<ul>
  {{#each query_result}}

  <li>{{#withi this}}
    {{/withi}}
  {{#with this}}
    <img src="{{[link to file]}}" alt="test"> <!--NOTE: To get images to render, need to adjust
                                                        python script to fix each image's file path.-->
    {{/with}}
  </li>
  {{/each}}


</ul>
